@import url('reset.css');
@import url('960.css');

/*=======================
@rotating ball
=================================*/
body{
	height: 3000px;
	font-family: helvetica, sans-serif;
}
#ball{
  background: url('../images/ball.png');
  width: 1216px;
  height: 1185px;
  margin: -700px auto;
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -608px;
}
/*=======================
@buttons
==================================*/
.btn{
	
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
}
.btn.orange{
	background: #f7961e;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/*=======================
@section titles
==================================*/
.section_title{
	font-size: 24px;
	font-weight: bold;
	padding: 15px;
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	letter-spacing: 1px;
	float: left;
	display: inline-block;
	margin: 0 0 1px 0;
}
.section_sub_title{
	font-size: 18px;
	font-family: Georgia, serif;
	padding: 15px;
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	letter-spacing: 1px;
	clear: both;
	display: inline-block;
	float: left;
	font-style: italic;
	font-weight: normal;
}
.blue{
	background: #007fc7;
}
.light-blue{
	background: #00a4e6;
}
.green{
	background: #39a441;
}
.light-green{
	background: #6ebe44;
}
.pink{
	background: #cd128c;
}
.light-pink{
	background: #f06ba8;
}
.orange{
	background: #f7961e;
}
.light-orange{
	background: #ffb75f;
}
/*=======================
@header
==================================*/
header{
	position: fixed !important;
	top: 0px;
	z-index: 3;
	left: 50%;
	margin-left: -470px !important;
}
header .ball{
	width: 947px;
	height: 200px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -472px;
	z-index: 2;
	overflow: hidden;
}
header .ball img{
position: absolute;
margin-left: -136px;

bottom: -285px;
display: block;
	
}
header .logo{
	background: rgba(0, 127, 199, 0.75);
	display: inline-block;
	padding: 20px;
	font-family: helvetica, arial, sans-serif;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	margin: 40px 0 0 0;
	clear: both;
	float: left;
	position: relative;
	z-index: 3;
}

header h2{
	background: rgba(39, 196, 243, 0.75);
	padding: 20px;
	font-size: 24px;
	font-family: georgia, serif;
	font-style: italic;
	font-weight: normal;
	color: #ffffff;
	display: inline-block;
	clear: both;
	float: left;
	margin: 1px 0 0 0;
	position: relative;
	z-index: 3;
}

/*=====================
@content
=====================================*/
#main{
	min-height: 600px;
	-moz-box-shadow: 0px 2px 5px rgba(0, 127, 199, 0.10);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 127, 199, 0.10);
	box-shadow: 0px 2px 5px rgba(0, 127, 199, 0.10);
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.10);
	padding-top: 80px;
	position: relative;
	z-index: 2;
	margin-top: 215px;
	margin-bottom: 40px ;
}

#main article{
	padding: 0 0 80px 0;
	margin: 0 0 80px 0;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
}

#main article p, footer p{
	color: #7f7f7f;
	
	font-size: 14px;
	line-height: 25px;
}

#main article .info{
	margin: 40px 0 0 0;
	width: 100%;
}

#main article .info h4{
	font-size: 20px;
	font-weight: normal;
	color: #4f4e4e;
	margin: 0 0 30px 0;
}

#main .pop img{
	display: block;
	margin: 0 0 80px 0;
}

#main .pop h2{
	
	font-size: 24px;
	color: #4f4e4e;
	float: left;
	display: inline-block;
	vertical-align: baseline;
	padding: 10px 0 0 0;
	margin: 0 0 30px 0;
}

#main .pop .date{
	float: right;
	display: inline-block;
	font-family: georgia, serif;
	color: #4f4e4e;
}

#main .pop .date .larger{
	font-size: 36px;
}
#main .pop .date .smaller{
	font-size: 32px;
}
#main .pop .btn{
	float: right;
	border-bottom: 4px solid #c66e02;
	font-size: 32px;
	padding: 20px 50px;
	text-transform: uppercase;
	margin-left: 55px;
}

/*---------
@speakers
-------------------*/
#main .speakers{
	overflow: hidden;
	padding: 0 ;
	margin: 0;
	border-bottom: 0px;
	overflow: hidden;
}
.speakers ul li{
	overflow: hidden;
	padding: 0 0 40px 0;
	margin: 0 0 40px 0;
	border-bottom: 1px solid #ededed;
	list-style: none;
}
.speakers ul li:last-child{
	padding: 0 0 80px 0;
	margin: 0 0 80px 0;
}
img.speaker{
	float: left;
	margin: 0 38px 0 0 ;
}

/*---------
@agenda
-------------------*/
.agenda ul{
	margin: 30px 0 0 0 ;
}
.agenda .time{
	font-weight: bold;
	display: inline-block;
	width: 80px;
}
.agenda .break{
	background: #f7f7f7;
	display: block;
	padding: 10px 0 10px 80px;
	font-weight: lighter;
	font-style: italic;
}

/*---------
@sponsors
-------------------*/
#main .sponsors .info h4{
	font-weight: lighter;
	font-size: 20px;
}

.sponsors{
	overflow: hidden;
}

.sponsors ul li{
	border-bottom: 1px solid #ededed;
	margin: 0 0 40px 0;
}
.sponsors ul li:last-child{
  border-bottom: 0px;
  margin: 0px;
}

/*---------
@prizes
-------------------*/
#main .prizes{
	overflow: visible;
	margin: 0 0 40px 0;
}
.prizes #prize_ticker{
	background: #f7f7f7;
	padding: 10px;
	font-weight: bold;
	margin: 23px 0 20px 0;
	position: relative;
}

.prizes #prize_ticker .left_arrow{
	width: 46px;
	height: 46px;
	background: url('../images/left_prize_arrow.png') no-repeat;
	display: block;
	position: absolute;
	left: -61px;
	top: -2px;
}

.prizes #prize_ticker .right_arrow{
	width: 46px;
	height: 46px;
	background: url('../images/right_prize_arrow.png') no-repeat;
	display: block;
	position: absolute;
	right: -61px;
	top: -2px;
}
.prizes p{
	margin: 0 0 10px 0;
}
.prizes p a{
	color: #f7961e;
	text-decoration: underline;
}

/*---------
@footer
-------------------*/
footer{
	padding: 0 0 80px 0;
}
footer p{
	font-size: 11px;
	line-height: 20px;
	display: inline;
	float: left;
}

footer #footer_nav{
	float: right;
	list-style: none;
}

footer #footer_nav li{
	float: left;
	margin-left: 30px;
}